/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #f4f5f6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 10px;
    border: 3px solid #ffffff;
}