.context {
    flex-grow: 1;
    background-color: white;
    border-radius: 0.75rem;
}

.context-board {
    flex-grow: 1;
    height: calc(100% - 4.6rem);
}

@media (max-width: 768px) {
    .context-board {
        height: calc(100vh - 5rem);
    }
}