.tabs {
    padding-inline: 1.5rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--background-color);
}

.context-tab {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 19px;
    height: 2.2rem;
    padding-block: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.context-active {
    color: #0165FF;
    border-bottom: 2px solid #0165FF;
}